.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skill-icon {
  width: 80px;
  height: 80px;
  margin: 1.2em;
}
